<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Contact Us</span>
            <h2 class="cs-title">Ready to Make Your Mark?</h2>
            <p class="cs-text">
                Explore our diverse portfolio, meet our talented artists, and book your session to embark on a journey of self-expression. Your canvas is waiting—let's create something extraordinary together.
            </p>
            <a href="/contact" class="cs-button-solid">Book an Appointment</a>
        </div>
    </div>
    <!-- Background Image-->
    <picture class="cs-picture">
        <source media="(max-width: 600px)" src="/assets/images/tattoo-hero.jpeg">
        <source media="(min-width: 601px)" src="/assets/images/tattoo-hero.jpeg">
        <img loading="lazy" decoding="async" src="/assets/images/tattoo-hero.jpeg" alt="cabinets" width="1920" height="1280" aria-hidden="true">
    </picture>
</section>