---
title: 'About Us'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-712">
    <div class="cs-container">
        <span class="cs-int-title">About</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FMISC%2Fpills.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FMISC%2Fpills.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FMISC%2Fpills.jpg" alt="pills" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--             Side By Side                     -->
<!-- ============================================ -->

<section id="RTsbsr-952">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Long Left Image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hair5.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hair5.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hair5.jpg" alt="hair salon" width="349" height="590">
            </picture>
            <!--Top right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hair6.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hair6.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hair6.jpg" alt="hair salon" width="281" height="387">
            </picture>
            <!--Bottom right image-->
            <picture class="cs-picture cs-picture3">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hair7.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hair7.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hair7.jpg" alt="hair salon" width="281" height="280">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Hair Salon Services</span>
            <h2 class="cs-title">Life Is More Beautiful When You Meet The Right Hairdresser</h2>
            <ul id="list-1165" class="cs-ul">
                <li class="cs-li">We handle all makes and models</li>
                <li class="cs-li">We are endorsed by the local trading standards office</li>
                <li class="cs-li">All our technicians are equipped with the latest portable</li>
                <li class="cs-li">Proven results for setting exceptional standards</li>
                <li class="cs-li">Same day service for most repairs</li>
            </ul>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RTsbst-952">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Long Left Image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hair5.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hair5.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hair5.jpg" alt="hair salon" width="349" height="590">
            </picture>
            <!--Top right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hair6.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hair6.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hair6.jpg" alt="hair salon" width="281" height="387">
            </picture>
            <!--Bottom right image-->
            <picture class="cs-picture cs-picture3">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hair7.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hair7.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hair7.jpg" alt="hair salon" width="281" height="280">
            </picture>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Hair Salon Services</span>
            <h2 class="cs-title">Life Is More Beautiful When You Meet The Right Hairdresser</h2>
            <ul id="list-1165" class="cs-ul">
                <li class="cs-li">We handle all makes and models</li>
                <li class="cs-li">We are endorsed by the local trading standards office</li>
                <li class="cs-li">All our technicians are equipped with the latest portable</li>
                <li class="cs-li">Proven results for setting exceptional standards</li>
                <li class="cs-li">Same day service for most repairs</li>
            </ul>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                Contact Strip                 -->
<!-- ============================================ -->

<!-- No headers, so no section tag -->
<div id="contact-strip-325">
    <ul class="cs-stat-group">
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/phone-gold.svg" alt="icon" width="35" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-header">Phone</span>
                <a href="tel:555-456-7899" class="cs-link">+1 (555) 456 7899</a>
                <a href="tel:555-456-7899" class="cs-link">+1 (555) 456 7899</a>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/pin-gold.svg" alt="icon" width="40" height="35" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-header">Address</span>
                <a href="" class="cs-link">123 Fake St, STE 100 <br> Somewhere, FL 98755</a>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/clock-gold.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-header">Open Hours</span>
                <span class="cs-hours">Monday To Saturday</span>
                <span class="cs-hours">9:00 AM - 10:30 PM</span>
            </div>
        </li>
    </ul>
</div>

<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="meet-team-1212">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-content-group">
                <span class="cs-topper">Some good soul</span>
                <h2 class="cs-title">Our Awesome Team Members</h2>
            </div>
            <a href="" class="cs-button" aria-label="read more about us">View All Members</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Rectangle%2081.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Rectangle%2081.png">
                    <img loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Rectangle%2081.png" alt="mechanic"
                            width="305" height="338">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Hanna Green</span>
                    <span class="cs-job">Tax Advisor</span>
                    <div class="cs-social-group">
                        <a href="" class="cs-link" aria-label="visit linkedin">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-tax2.svg"
                                    alt="linkedin" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit twitter">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-tax2.svg"
                                    alt="twitter" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit instragram">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-tax2.svg"
                                    alt="instragram" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit youtube">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-tax2.svg"
                                    alt="youtube" width="12" height="12">
                        </a>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Rectangle%2082.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Rectangle%2082.png">
                    <img loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Rectangle%2082.png" alt="mechanic"
                            width="305" height="338">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Hanna Green</span>
                    <span class="cs-job">Tax Advisor</span>
                    <div class="cs-social-group">
                        <a href="" class="cs-link" aria-label="visit linkedin">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-tax2.svg"
                                    alt="linkedin" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit twitter">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-tax2.svg"
                                    alt="twitter" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit instragram">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-tax2.svg"
                                    alt="instragram" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit youtube">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-tax2.svg"
                                    alt="youtube" width="12" height="12">
                        </a>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Rectangle%2083.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Rectangle%2083.png">
                    <img loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Rectangle%2083.png" alt="mechanic"
                            width="305" height="338">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Hanna Green</span>
                    <span class="cs-job">Tax Advisor</span>
                    <div class="cs-social-group">
                        <a href="" class="cs-link" aria-label="visit linkedin">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-tax2.svg"
                                    alt="linkedin" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit twitter">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-tax2.svg"
                                    alt="twitter" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit instragram">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-tax2.svg"
                                    alt="instragram" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit youtube">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-tax2.svg"
                                    alt="youtube" width="12" height="12">
                        </a>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Rectangle%2084.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Rectangle%2084.png">
                    <img loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Rectangle%2084.png" alt="mechanic"
                            width="305" height="338">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Hanna Green</span>
                    <span class="cs-job">Tax Advisor</span>
                    <div class="cs-social-group">
                        <a href="" class="cs-link" aria-label="visit linkedin">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-tax2.svg"
                                    alt="linkedin" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit twitter">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-tax2.svg"
                                    alt="twitter" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit instragram">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-tax2.svg"
                                    alt="instragram" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit youtube">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-tax2.svg"
                                    alt="youtube" width="12" height="12">
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                  Reviews                     -->
<!-- ============================================ -->

<section id="reviews-990">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Small Group Training</span>
            <h2 class="cs-title">Happy Customer Feedback About Our Service</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/salon-review1.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/salon-review1.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/salon-review1.jpg" alt="person" width="240" height="300">
                </picture>
                <div class="cs-flex">
                    <span class="cs-name">George Thomas</span>
                    <span class="cs-desc">Founder Of Yokoloko</span>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita neque sapiente officiis voluptatibus, corporis unde dolor nulla nostrum perferendis.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/salon-review2.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/salon-review2.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/salon-review2.jpg" alt="person" width="240" height="300">
                </picture>
                <div class="cs-flex">
                    <span class="cs-name">Mason James</span>
                    <span class="cs-desc">Senior Gardener Farmer</span>
                    <p class="cs-item-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita neque sapiente officiis voluptatibus, corporis unde dolor nulla nostrum perferendis.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>

    {% include 'components/cta.html' %}
{% endblock %}