---
title: 'About Us'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-712">
    <div class="cs-container">
        <span class="cs-int-title">About</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" src="/assets/images/tattoo-hero.jpeg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" src="/assets/images/tattoo-hero.jpeg">
        <img loading="lazy" decoding="async" src="/assets/images/tattoo-hero.jpeg" alt="pills" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-956">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Left Image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" src="/assets/images/verticc.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" src="/assets/images/verticc.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/verticc.jpg" alt="hair salon" width="349" height="590">
            </picture>
            <div class="cs-flex">
                <!--right image-->
                <picture class="cs-picture cs-picture2">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" src="/assets/images/alexp.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" src="/assets/images/alexp.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/alexp.jpg" alt="hair salon" width="281" height="387">
                </picture>
                <div class="cs-contact-group">
                    <a class="cs-link" href="mailto:Info@health&wellness.com">
                        <picture class="cs-wrapper">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pin-hair.svg" alt="icon" width="24" height="24">
                        </picture>
                        <div class="cs-info">
                            <span class="cs-header">Send A Message</span>
                            <span class="cs-link-content">Info@hairstyle.com</span>
                        </div>
                    </a>
                    <a class="cs-link" href="">
                        <picture class="cs-wrapper">
                            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mail-hair.svg" alt="icon" width="24" height="24">
                        </picture>
                        <div class="cs-info">
                            <span class="cs-header">Visit Us At</span>
                            <span class="cs-link-content">123 Fake St, Highland, IN</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Who We Are</span>
            <h2 class="cs-title">About Tattoo Studios</h2>
            <p class="cs-text">
                At Tattoo Studios, we're more than a tattoo studio — we're a collective of passionate artists dedicated to the art of self-expression. Our journey began with a shared vision: to create a space where tradition and innovation converge, and where every piece of ink tells a unique story.
            </p>
            <p class="cs-text">
                Our philosophy is simple — to craft tattoos that transcend the ordinary. We believe in the power of ink to capture emotions, memories, and individuality. Each design is a collaborative effort, a synthesis of your ideas and our artistic expertise.
            </p>
            <p class="cs-text">
                Step into our studio, and you'll find an atmosphere of creativity, professionalism, and warmth. Whether you're a tattoo enthusiast or a first-timer, we strive to make every visit a memorable experience.
            </p>
            <a href="" class="cs-button-solid" aria-label="learn more about us">Learn More</a>
        </div>
    </div>
    <!--Zen Leaf Group-->
    <img class="cs-floater" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/hair-tools.png" alt="hair tools" width="445" height="310">
</section>

<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="meet-team-1212">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-content-group">
                <span class="cs-topper">Some good soul</span>
                <h2 class="cs-title">Our Awesome Team Members</h2>
            </div>
            <a href="" class="cs-button" aria-label="read more about us">View All Members</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Rectangle%2081.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Rectangle%2081.png">
                    <img loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Rectangle%2081.png" alt="mechanic"
                            width="305" height="338">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Hanna Green</span>
                    <span class="cs-job">Tax Advisor</span>
                    <div class="cs-social-group">
                        <a href="" class="cs-link" aria-label="visit linkedin">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-tax2.svg"
                                    alt="linkedin" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit twitter">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-tax2.svg"
                                    alt="twitter" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit instragram">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-tax2.svg"
                                    alt="instragram" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit youtube">
                            <img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-tax2.svg"
                                    alt="youtube" width="12" height="12">
                        </a>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Rectangle%2082.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Rectangle%2082.png">
                    <img loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Rectangle%2082.png" alt="mechanic"
                            width="305" height="338">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Hanna Green</span>
                    <span class="cs-job">Tax Advisor</span>
                    <div class="cs-social-group">
                        <a href="" class="cs-link" aria-label="visit linkedin">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-tax2.svg"
                                    alt="linkedin" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit twitter">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-tax2.svg"
                                    alt="twitter" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit instragram">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-tax2.svg"
                                    alt="instragram" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit youtube">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-tax2.svg"
                                    alt="youtube" width="12" height="12">
                        </a>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Rectangle%2083.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Rectangle%2083.png">
                    <img loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Rectangle%2083.png" alt="mechanic"
                            width="305" height="338">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Hanna Green</span>
                    <span class="cs-job">Tax Advisor</span>
                    <div class="cs-social-group">
                        <a href="" class="cs-link" aria-label="visit linkedin">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-tax2.svg"
                                    alt="linkedin" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit twitter">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-tax2.svg"
                                    alt="twitter" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit instragram">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-tax2.svg"
                                    alt="instragram" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit youtube">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-tax2.svg"
                                    alt="youtube" width="12" height="12">
                        </a>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Rectangle%2084.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)"
                            srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Rectangle%2084.png">
                    <img loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/Rectangle%2084.png" alt="mechanic"
                            width="305" height="338">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Hanna Green</span>
                    <span class="cs-job">Tax Advisor</span>
                    <div class="cs-social-group">
                        <a href="" class="cs-link" aria-label="visit linkedin">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-tax2.svg"
                                    alt="linkedin" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit twitter">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-tax2.svg"
                                    alt="twitter" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit instragram">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-tax2.svg"
                                    alt="instragram" width="12" height="12">
                        </a>
                        <a href="" class="cs-link" aria-label="visit youtube">
                            <img img class="cs-icon" loading="lazy" decoding="async"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-tax2.svg"
                                    alt="youtube" width="12" height="12">
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                Contact Strip                 -->
<!-- ============================================ -->

<!-- No headers, so no section tag -->
<div id="contact-strip-325">
    <ul class="cs-stat-group">
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/phone-gold.svg" alt="icon" width="35" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-header">Phone</span>
                <a href="tel:555-456-7899" class="cs-link">+1 (555) 456 7899</a>
                <a href="tel:555-456-7899" class="cs-link">+1 (555) 456 7899</a>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/pin-gold.svg" alt="icon" width="40" height="35" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-header">Address</span>
                <a href="" class="cs-link">123 Fake St, STE 100 <br> Somewhere, FL 98755</a>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/clock-gold.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-header">Open Hours</span>
                <span class="cs-hours">Monday To Saturday</span>
                <span class="cs-hours">9:00 AM - 10:30 PM</span>
            </div>
        </li>
    </ul>
</div>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1176">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">What We Offer</span>
            <h2 class="cs-title">Elevate Your Expression</h2>
            <p class="cs-text">
                At tattoo studios, we offer a range of tattoo services tailored to amplify your unique style. Our skilled artists are dedicated to turning your ideas into extraordinary works of art.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="/assets/svgs/tattoo.svg" alt="icon"
                        height="48" />
                </picture>
                <h3 class="cs-h3">Tattoo</h3>
                <p class="cs-item-text">
                    Discover personalized tattoos that tell your story. Our artists bring your ideas to life, creating a one-of-a-kind masterpiece just for you.
                </p>
                <a href="/services" class="cs-link">
                    Read More
                    <img class="cs-arrow" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg" alt="icon"
                        width="20" height="20" aria-hidden="true" />
                </a>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="/assets/svgs/piercing.svg" alt="icon" width="48"
                        height="48" />
                </picture>
                <h3 class="cs-h3">Piercing</h3>
                <p class="cs-item-text">
                    Enhance your style with our safe and professional piercing services. Explore new ways to express yourself with our curated jewelry selection.
                </p>
                <a href="/services" class="cs-link">
                    Read More
                    <img class="cs-arrow" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg" alt="icon"
                        width="20" height="20" aria-hidden="true" />
                </a>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async"
                        src="/assets/svgs/bandaid.svg" alt="icon" width="48"
                        height="48" />
                </picture>
                <h3 class="cs-h3"> Cover-Ups</h3>
                <p class="cs-item-text">
                    Transform old memories into new art. Our cover-up specialists collaborate with you to create a fresh design, turning your canvas into a unique masterpiece.
                </p>
                <a href="/services" class="cs-link">
                    Read More
                    <img class="cs-arrow" loading="lazy" decoding="async"
                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg" alt="icon"
                        width="20" height="20" aria-hidden="true" />
                </a>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                  Reviews                     -->
<!-- ============================================ -->

<section id="reviews-989">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Reviews</span>
            <h2 class="cs-title">Happy Customer Feedback About Our Work</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" src="/assets/images/sarahm.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" src="/assets/images/sarahm.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/sarahm.jpg" alt="person" width="240" height="300">
                </picture>
                <div class="cs-flex">
                    <span class="cs-name">Sarah M.</span>
                    <span class="cs-desc">First Tattoo</span>
                    <p class="cs-item-text">
                        "Incredible Experience! As a first-timer, I was a bit nervous, but the artists at tattoo studios they made me feel right at home. They took the time to understand my vision and created a stunning tattoo that exceeded my expectations. Professional, friendly, and truly talented. Can't wait for my next piece!"
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" src="/assets/images/alexp.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" src="/assets/images/alexp.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/alexp.jpg" alt="person" width="240" height="300">
                </picture>
                <div class="cs-flex">
                    <span class="cs-name">Alex P.</span>
                    <span class="cs-desc">Large Tattoo Coverup</span>
                    <p class="cs-item-text">
                        "Magical Transformation! I came to tattoo studios with an old tattoo that I wanted to cover up. The cover-up specialists worked wonders! They collaborated with me to design something beautiful that not only concealed the old ink but turned it into a work of art. The attention to detail and skill displayed were exceptional. Highly recommend for cover-up projects!"
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>

    {% include 'components/cta.html' %}
{% endblock %}