---
title: 'Faq'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'faq/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/faq.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-712">
    <div class="cs-container">
        <span class="cs-int-title">FAQ</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FMISC%2Fpills.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FMISC%2Fpills.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FMISC%2Fpills.jpg" alt="pills" width="1280" height="568" aria-hidden="true">
    </picture>
</div>

<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<section id="stats-1576">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" src="/assets/svgs/tattoo red.svg" loading="lazy" decoding="async" alt="icon" width="48" height="48">
                <span class="cs-number">800+</span>
                <span class="cs-desc">Tattoos</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" src="/assets/svgs/piercing red.svg" loading="lazy" decoding="async" alt="icon" width="48" height="48">
                <span class="cs-number">200+</span>
                <span class="cs-desc">Piercings</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" src="/assets/svgs/bandaid red.svg" loading="lazy" decoding="async" alt="icon" width="48" height="48">
                <span class="cs-number">150+</span>
                <span class="cs-desc">Cover-Ups</span>
            </li>
        </ul>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/waves-side.svg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/waves-side.svg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/waves-side.svg" alt="wave" width="1280" height="568">
    </picture>
</section>                   

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-1576">
    <div class="cs-container">
        <!-- Left Section -->
        <div class="cs-image-group">
            <div class="cs-row">
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/fishing.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/fishing.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/fishing.jpg" alt="man fishing" width="305" height="615">
                </picture>
                <picture class="cs-picture cs-picture4">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/fish.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/fish.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/fish.jpg" alt="fish" width="305" height="277">
                </picture>
            </div>
            <div class="cs-row">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/man2.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/man2.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/man2.jpg" alt="man" width="305" height="410">
                </picture>
                <picture class="cs-picture cs-picture3">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/fishing2.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/fishing2.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/fishing2.jpg" alt="man fishing" width="305" height="467">
                </picture>
            </div>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Asked questions</span>
            <h2 class="cs-title">Frequently Asked Questions</h2>
            <ul class="cs-faq-group">
                <!-- Active class added as default -->
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How do I choose the right tattoo design for me?
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    <p class="cs-item-p">
                        Selecting the perfect tattoo involves considering your personal style, meaning, and placement. Our experienced artists are here to guide you through the process, offering consultations to ensure your design reflects your individuality.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Is the tattooing process painful?
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    </button>
                    <p class="cs-item-p">
                        Pain tolerance varies, but our skilled artists prioritize your comfort. They use professional techniques, and many clients find the experience more bearable than expected. The level of discomfort is influenced by factors such as placement and individual pain thresholds.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Can you cover up an existing tattoo with a new design?
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    </button>
                    <p class="cs-item-p">
                        Yes, our talented cover-up specialists can work with you to create a fresh design that transforms and conceals an existing tattoo. The success of a cover-up depends on factors such as the size, color, and condition of the original tattoo. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            How long does it take for a tattoo to heal?
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    </button>
                    <p class="cs-item-p">
                        Healing times vary, but generally, tattoos take about 2-4 weeks to heal. Following our aftercare instructions is crucial for a smooth healing process. It's essential to keep the tattoo clean, moisturized, and protected from direct sunlight during this period.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Can I bring my own design for a custom tattoo?
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    </button>
                    <p class="cs-item-p">
                        Absolutely! We encourage clients to bring their design ideas for custom tattoos. Our artists can work with your concept, making adjustments to ensure it translates well into a tattoo. Collaborating on a custom design ensures a personalized and meaningful result.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What are your prices for brake replacement?
                        </span>
                        <span class="cs-indicator" aria-hidden="true"></span>
                    </button>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                Contact Strip                 -->
<!-- ============================================ -->

<!-- No headers, so no section tag -->
<div id="contact-strip-325">
    <ul class="cs-stat-group">
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/phone-gold.svg" alt="icon" width="35" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-header">Phone</span>
                <a href="tel:555-456-7899" class="cs-link">+1 (555) 456 7899</a>
                <a href="tel:555-456-7899" class="cs-link">+1 (555) 456 7899</a>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/pin-gold.svg" alt="icon" width="40" height="35" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-header">Address</span>
                <a href="" class="cs-link">123 Fake St, STE 100 <br> Somewhere, FL 98755</a>
            </div>
        </li>
        <li class="cs-item">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.digitaloceanspaces.com/Contact-Page/clock-gold.svg" alt="icon" width="40" height="40" loading="lazy" decoding="async" aria-hidden="true">
            </picture>
            <div class="cs-flex-group">
                <span class="cs-header">Open Hours</span>
                <span class="cs-hours">Monday To Saturday</span>
                <span class="cs-hours">9:00 AM - 10:30 PM</span>
            </div>
        </li>
    </ul>
</div>

<!-- ============================================ -->
<!--                  Reviews                     -->
<!-- ============================================ -->

<section id="reviews-989">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Reviews</span>
            <h2 class="cs-title">Happy Customer Feedback About Our Work</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" src="/assets/images/sarahm.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" src="/assets/images/sarahm.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/sarahm.jpg" alt="person" width="240" height="300">
                </picture>
                <div class="cs-flex">
                    <span class="cs-name">Sarah M.</span>
                    <span class="cs-desc">First Tattoo</span>
                    <p class="cs-item-text">
                        "Incredible Experience! As a first-timer, I was a bit nervous, but the artists at tattoo studios they made me feel right at home. They took the time to understand my vision and created a stunning tattoo that exceeded my expectations. Professional, friendly, and truly talented. Can't wait for my next piece!"
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" src="/assets/images/alexp.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" src="/assets/images/alexp.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/alexp.jpg" alt="person" width="240" height="300">
                </picture>
                <div class="cs-flex">
                    <span class="cs-name">Alex P.</span>
                    <span class="cs-desc">Large Tattoo Coverup</span>
                    <p class="cs-item-text">
                        "Magical Transformation! I came to tattoo studios with an old tattoo that I wanted to cover up. The cover-up specialists worked wonders! They collaborated with me to design something beautiful that not only concealed the old ink but turned it into a work of art. The attention to detail and skill displayed were exceptional. Highly recommend for cover-up projects!"
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>

<script>
const faqItems = Array.from(document.querySelectorAll('.cs-faq-item'));
        for (const item of faqItems) {
            const onClick = () => {
            item.classList.toggle('active')
        }
        item.addEventListener('click', onClick)
        }
                                
</script>
    {% include 'components/cta.html' %}
{% endblock %}