/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-404 {
        padding: var(--sectionPadding);
        overflow: hidden;
        position: relative;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            max-width: 20ch;
        }

        .cs-button-group {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            row-gap: calc(8 / 16 * 1rem);
            column-gap: calc(32 / 16 * 1rem);
        }

        .cs-button {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            color: var(--bodyTextColor);
            background-color: transparent;
            border: none;
            transition: color 0.3s;
            &:hover {
                color: var(--primary);
                cursor: pointer;
            }
            &.cs-active {
                color: var(--primary);
            }
        }

        .cs-gallery {
            width: 100%;
            padding: 0;
            margin: 0;
            opacity: 1;
            visibility: visible;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            /* 16px - 20px */
            gap: clamp(1rem, 1.5vw, 1.25rem);
            transition:
                transform 0.7s,
                opacity 0.3s,
                visibility 0.5s,
                top 0.3s,
                left 0.3s;
            /* makes the transfrom scaling orgin the top left corner, dictates the direction by which the scale transforms animate towards */
            transform-origin: left top;

            &.cs-hidden {
                position: absolute;
                /* by using visibility:hidden instead of display:none, we can see the animations from the opacity and transforms, display:none won't render animations. */
                visibility: hidden;
                /* prevents the mouse from interacting with it */
                pointer-events: none;
                /* hidden galleries have a 0 opacity, and we animate the opacity to 1 when they become active */
                opacity: 0;
                /* this top and left value help control the animation, by setting it to position absolute and left 0, the gallery won't fly off screen to the left, it will stop its position to be at the left edge of the .cs-container (left: 0). Same for the bottom:0 value, the gallery won't go past that posiiton when it animates */
                bottom: 0;
                left: 0;
                position: absolute;
                /* prevents the hidden galleries from overflowing the section, and makes a nice animations to transition to and from */
                transform: scaleY(0) scaleX(0);

                .cs-image {
                    /* when gallery is hidden, add these styles to the cs-image to animate from when cs-hidden is removed from the .cs-gallery */
                    transform: translateY(2.1875rem);
                    opacity: 0;
                }
            }
        }

        .cs-image {
            width: 47%;
            aspect-ratio: 1;
            /* clips the image corners */
            overflow: hidden;
            display: block;
            position: relative;
            /* when .cs-hidden is removed from the .cs-gallery, reset these values and animate between their hidden styles */
            transform: translateY(0rem);
            opacity: 1;
            transition:
                opacity 0.6s,
                transform 0.6s;

            &:nth-of-type(1) {
                /* transition delays change at desktop */
                /* these delays stagger the reveal of each image so they all go one after the other and not all at once */
                transition-delay: 0.15s;
            }
            &:nth-of-type(2) {
                transition-delay: 0.3s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.45s;
            }
            &:nth-of-type(4) {
                transition-delay: 0.6s;
            }
            &:nth-of-type(5) {
                transition-delay: 0.75s;
            }
            &:nth-of-type(6) {
                transition-delay: 0.9s;
            }
            &:nth-of-type(7) {
                transition-delay: 1.05s;
            }
            &:nth-of-type(8) {
                transition-delay: 1.2s;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes it act like a background image */
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #gallery-404 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-content {
            text-align: left;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
        }

        .cs-title {
            margin: 0;
        }

        .cs-image {
            width: 31.8%;
            aspect-ratio: 1;
        }
    }
}

/* Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #gallery-404 {
        .cs-flex {
            max-width: calc(550 / 16 * 1rem);
        }
        .cs-gallery {
            align-items: stretch;
            justify-content: center;
        }
        .cs-image {
            width: calc(630 / 16 * 1rem);
            max-width: 100%;
            height: calc(400 / 16 * 1rem);
            &:nth-of-type(2),
            &:nth-of-type(3),
            &:nth-of-type(4),
            &:nth-of-type(5) {
                width: calc(305 / 16 * 1rem);
            }
            &:nth-of-type(1) {
                /* these delays stagger the reveal of each image so they all go one after the other and not all at once */
                transition-delay: 0.15s;
            }
            &:nth-of-type(2) {
                transition-delay: 0.3s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.45s;
            }
            &:nth-of-type(4) {
                transition-delay: 0.15s;
            }
            &:nth-of-type(5) {
                transition-delay: 0.3s;
            }
            &:nth-of-type(6) {
                transition-delay: 0.45s;
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #gallery-404 {
            .cs-topper {
                color: var(--primaryLight);
            }
            .cs-title,
            .cs-text,
            .cs-button {
                color: var(--bodyTextColorWhite);
            }

            .cs-button {
                &.cs-active {
                    color: var(--primaryLight);
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-955 {
        padding: var(--sectionPadding);
        background-color: var(--dark);
        /* clips anything overflowing */
        overflow: hidden;
        position: relative;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(542 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title,
        .cs-text {
            color: var(--bodyTextColorWhite);
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            opacity: 0.8;
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(32 / 16 * 1rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group {
            width: 100%;
            max-width: calc(650 / 16 * 1rem);
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 1.5vw, 1.25rem);
        }

        .cs-picture {
            width: 100%;
            grid-column: span 12;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-picture1 {
            height: calc(420 / 16 * 1rem);
        }

        .cs-picture2 {
            height: calc(348 / 16 * 1rem);
        }

        .cs-floater {
            display: none;
        }

        .cs-flex {
            width: 100%;
            /* breaks up the container so the browser treats its children as if they are not inside this container. They are considered children of the .cs-image-group and makes it easier to space everything this way on mobile */
            display: contents;
        }

        .cs-contact-group {
            width: 100%;
            margin: 0;
            /* 24px - 40px */
            padding: clamp(1.5rem, 3vw, 2.5rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            border: 1px solid #484848;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            grid-column: span 12;
        }

        .cs-link {
            text-decoration: none;
            margin-bottom: calc(20 / 16 * 1rem);
            padding-bottom: calc(20 / 16 * 1rem);
            border-bottom: 1px solid #484848;
            box-sizing: border-box;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: calc(16 / 16 * 1rem);
            position: relative;
            z-index: 1;

            &:hover {
                .cs-wrapper {
                    transform: scale(1.2);
                }
            }

            &:last-of-type {
                margin-bottom: 0;
                padding-bottom: 0;
                border-bottom: none;
            }
        }

        .cs-wrapper {
            /* 44px - 56px */
            width: clamp(2.75rem, 4.3vw, 3.5rem);
            height: clamp(2.75rem, 4.3vw, 3.5rem);
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            position: relative;
            transition: transform 0.3s;

            &:before {
                /* light grey circle that animates on hover */
                content: "";
                width: 100%;
                height: 100%;
                opacity: 1;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: -1;
                transition:
                    width 0.3s,
                    height 0.3s;
            }
        }

        .cs-icon {
            width: calc(24 / 16 * 1rem);
            height: auto;
            display: block;
            transition: transform 0.3s;
        }

        .cs-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(4 / 16 * 1rem);
        }

        .cs-header {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--bodyTextColorWhite);
            display: block;
        }

        .cs-link-content {
            font-size: calc(14 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 400;
            margin: 0;
            color: var(--bodyTextColorWhite);
            opacity: 0.8;
            display: block;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-955 {
        .cs-image-group {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-flex {
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-contact-group {
            /* 32px - 64px */
            margin-bottom: clamp(2rem, 6vw, 4rem);
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-picture1 {
            width: 100%;
            height: auto;
            /* 32px - 64px */
            margin-top: clamp(2rem, 6vw, 4rem);
        }

        .cs-flex {
            /* 267px - 325px */
            width: clamp(16.6875rem, 25vw, 20.3125rem);
            /* prevents flexbox from squishing it */
            flex: none;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-955 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .cs-image-group {
            width: 50%;
            flex: none;
        }
    }
}

/* Large Desktop - 1800px */
@media only screen and (min-width: 112.5rem) {
    #sbs-955 {
        .cs-floater {
            width: calc(445 / 16 * 1rem);
            height: auto;
            display: block;
            position: absolute;
            right: 0;
            top: calc(20 / 16 * 1rem);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-955 {
            background-color: var(--dark);
        }
    }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-990 {
        padding: var(--sectionPadding);
        background-color: #fff;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(584 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            margin: 0;
            max-width: 24ch;
            color: #1a1a1a;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            grid-column: span 12;
            grid-row: span 1;
        }

        .cs-picture {
            width: 100%;
            /* 260px - 300px */
            min-height: clamp(16.25rem, 30vw, 18.75rem);
            aspect-ratio: (328/260);
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
                /* pushes the top of the image to the top of the container */
                object-position: top;
            }
        }

        .cs-flex {
            text-align: left;
            width: 100%;
            /* 16px - 32px */
            padding: clamp(1rem, 3vw, 2rem);
            /* prevents padding from affecting height and wodth */
            box-sizing: border-box;
            border: 1px solid #484848;
            border-top: none;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-name {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.3vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: #1a1a1a;
        }

        .cs-desc {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            font-weight: 400;
            /* 8px - 28px */
            margin: 0 0 clamp(0.5rem, 3.2vw, 1.75rem);
            color: #4e4b66;
            opacity: 0.8;
            display: block;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0;
            color: #4e4b66;
            opacity: 0.8;
        }
    }
}

/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
    #reviews-990 {
        .cs-item {
            display: flex;
            flex-direction: row;
            grid-column: span 6;
        }

        .cs-picture {
            max-width: calc(240 / 16 * 1rem);
            aspect-ratio: initial;
        }

        .cs-flex {
            width: 65%;
            max-width: calc(390 / 16 * 1rem);
            flex: none;
            border-top: 1px solid #484848;
            border-left: none;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #reviews-990 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-card-group {
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews-990 {
            background-color: var(--medium);

            .cs-title {
                color: #fff;
            }
            .cs-name {
                color: #fff;
            }
            .cs-desc {
                color: #fff;
                opacity: 0.8;
            }
            .cs-item-text {
                color: #fff;
                opacity: 0.8;
            }
        }
    }
}