/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

/*-- -------------------------- -->
<---       Side By Side reverse -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RTsbsr-952,
    #RTsbsr-952,
    #RTsbst-952 {
        padding: var(--sectionPadding);
        position: relative;
        /* clips anything overflowing */
        overflow: hidden;

        .cs-container {
            /* changes to 1280px at desktop */
            max-width: calc(550 / 16 * 1rem);
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            max-width: calc(542 / 16 * 1rem);
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            font-weight: 700;
            text-align: center;
            min-width: calc(150 / 16 * 1rem);
            margin: 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            padding: 0 calc(32 / 16 * 1rem);
            color: #fff;
            background-color: var(--primary);
            text-decoration: none;
            display: inline-block;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-contact-group {
            width: 100%;
            margin-bottom: calc(32 / 16 * 1rem);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            gap: calc(12 / 16 * 1rem);
        }

        .cs-link {
            padding-right: calc(30 / 16 * 1rem);
            text-decoration: none;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            gap: calc(16 / 16 * 1rem);

            &:hover {
                &:before {
                    width: 100%;
                    height: calc(56 / 16 * 1rem);
                }
                .cs-wrapper {
                    transform: scale(1.2);
                }

                .cs-icon {
                    transform: translateX(0.4375rem);
                }
            }

            &:before {
                /* light green circle that animates on hover */
                content: "";
                width: calc(48 / 16 * 1rem);
                height: calc(48 / 16 * 1rem);
                background: #eff1f0;
                opacity: 1;
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                z-index: -1;
                transform: translateY(-50%);
                transition:
                    width 0.3s,
                    height 0.3s,
            }
        }

        .cs-wrapper {
            width: calc(48 / 16 * 1rem);
            height: calc(48 / 16 * 1rem);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: transform 0.3s;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-icon {
            width: calc(24 / 16 * 1rem);
            height: auto;
            display: block;
            transition: transform 0.3s;
        }

        .cs-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(4 / 16 * 1rem);
        }

        .cs-header {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
            display: block;
        }

        .cs-link-content {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 400;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
        }

        .cs-image-group {
            /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
            font-size: min(2.24vw, 0.844em);
            /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
            width: calc(650 / 16 * 1em);
            height: calc(687 / 16 * 1em);
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            display: block;
            position: absolute;
            /* clips the image to match the border radius of the cs-picture */
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                /* makes it act like a background image */
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-picture1 {
            width: calc(349 / 16 * 1em);
            height: calc(590 / 16 * 1em);
            top: calc(49 / 16 * 1em);
            left: 0;
        }

        .cs-picture2 {
            width: calc(281 / 16 * 1em);
            height: calc(387 / 16 * 1em);
            top: 0;
            right: 0;
        }

        .cs-picture3 {
            width: calc(281 / 16 * 1em);
            height: calc(280 / 16 * 1em);
            right: 0;
            bottom: 0;
        }

        .cs-seal {
            width: calc(150 / 16 * 1em);
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-30%, -40%);
        }

        .cs-floater {
            display: none;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RTsbsr-952,
    #RTsbsr-952,
    #RTsbst-952 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .cs-image-group {
            /* set to inherit at Large Desktop */
            font-size: min(1.15vw, 1em);
            margin: 0;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-content {
            width: 51%;
        }
    }
}

/* Large Desktop - 1800px */
@media only screen and (min-width: 112.5rem) {
    #RTsbsr-952,
    #RTsbsr-952,
    #RTsbst-952 {
        .cs-floater {
            width: calc(445 / 16 * 1rem);
            height: auto;
            display: block;
            position: absolute;
            top: calc(20 / 16 * 1rem);
            right: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #RTsbsr-952,
        #RTsbsr-952,
        #RTsbst-952 {
            background-color: var(--medium);

            .cs-title,
            .cs-text,
            .cs-header,
            .cs-link-content {
                color: var(--bodyTextColorWhite);
                transition: color 0.3s;
            }

            .cs-text {
                opacity: 0.8;
            }

            .cs-link {
                &:before {
                    background-color: var(--accent);
                }
            }

            .cs-icon {
                /* makes icons that are not black turn white */
                filter: grayscale(1) brightness(1000%);
            }

            .cs-graphic1,
            .cs-graphic2 {
                filter: brightness(50%);
            }
        }
    }
}

/*-- -------------------------- -->
<---   Side By Side             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RTsbsr-952 {
        background-color: #1a1a1a;

        .cs-title,
        .cs-header,
        .cs-text,
        .cs-link-content {
            color: var(--bodyTextColorWhite);
        }

        .cs-text,
        .cs-link-content {
            opacity: 0.8;
        }

        .cs-link {
            &:before {
                background-color: #484848;
            }
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RTsbsr-952 {
        .cs-image-group {
            /* sends it to the right in the 2nd position */
            order: 2;
        }

        .cs-floater {
            right: auto;
            left: calc(-50 / 16 * 1rem);
            transform: scaleX(-1);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #RTsbsr-952 {
            background-color: var(--dark);
        }
    }
}

/*-- -------------------------- -->
<---       Contact Strip        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #contact-strip-325 {
        padding: var(--sectionPadding);
        background-color: #1a1a1a;

        .cs-stat-group {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(600 / 16 * 1rem);
            margin: auto;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: calc(40 / 16 * 1rem);
        }

        .cs-item {
            list-style: none;
            width: calc(290 / 16 * 1rem);
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &:hover {
                .cs-picture {
                    background-color: #fff;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                    transform: scale(1.05);
                }
            }
        }

        .cs-picture {
            width: calc(80 / 16 * 1rem);
            height: calc(80 / 16 * 1rem);
            /* 12px - 20px */
            margin-right: clamp(0.75rem, 3vw, 1.25rem);
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            transition:
                background-color 0.3s,
                box-shadow 0.3s,
                transform 0.6s;
        }

        .cs-flex-group {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
        }

        .cs-icon {
            width: 33/16rem;
            height: auto;
        }

        .cs-header {
            font-size: calc(20 / 16 * 1rem);
            color: var(--bodyTextColorWhite);
            font-weight: 900;
            line-height: 1.2em;
            margin: 0;
            margin-bottom: calc(12 / 16 * 1rem);
            display: block;
        }

        .cs-link,
        .cs-hours {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-decoration: none;
            color: #828282;
            display: block;
            transition: color 0.3s;
        }

        .cs-link {
            &:hover {
                color: var(--primary);
            }
        }
    }
}

/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
    #contact-strip-325 {
        .cs-stat-group {
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: calc(20 / 16 * 1rem);
            row-gap: calc(32 / 16 * 1rem);
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #contact-strip-325 {
        .cs-stat-group {
            max-width: calc(1280 / 16 * 1rem);
            flex-wrap: nowrap;
            justify-content: space-evenly;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #contact-strip-325 {
            background-color: var(--dark);
            .cs-header,
            .cs-link,
            .cs-hours {
                color: var(--bodyTextColorWhite);
            }

            .cs-item {
                &:hover {
                    .cs-icon {
                        filter: brightness(100%);
                    }
                }
            }

            .cs-icon {
                /* makes it so bright it turns white */
                filter: brightness(1000%);
            }
        }
    }
}

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-453 {
        /* centers the inline-block button */
        text-align: center;
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-button-group {
            width: 100%;
            max-width: calc(600 / 16 * 1rem);
            margin: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            row-gap: calc(8 / 16 * 1rem);
            column-gap: calc(24 / 16 * 1rem);
        }

        .cs-button {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            padding: 0 0 0 calc(16 / 16 * 1rem);
            color: var(--bodyTextColor);
            background-color: transparent;
            border: none;
            position: relative;
            transition: color 0.3s;

            &:before {
                content: "";
                width: calc(8 / 16 * 1rem);
                height: calc(8 / 16 * 1rem);
                background: var(--primary);
                /* starting value, this will animate to 1 when the button is hovered, and when the active class is on it */
                opacity: 0;
                /* prevents mouse from interacting with it */
                pointer-events: none;
                position: absolute;
                display: block;
                top: 50%;
                /* start -20px left of the button */
                left: calc(-20 / 16 * 1rem);
                transform: translateY(-50%);
                /* transition to and from the active class styles on hover*/
                transition:
                    opacity 0.3s,
                    left 0.3s;
            }

            &:hover {
                color: var(--primary);
                cursor: pointer;
                &:before {
                    left: 0;
                    opacity: 1;
                }
            }

            &.cs-active {
                /* when the button is active, add these styles to the button and its pseudo */
                font-weight: 700;
                color: var(--primary);

                &:before {
                    /* animate to these values when the cs-active class is added to the button and on hover */
                    left: 0;
                    opacity: 1;
                }
            }
        }

        .cs-wrapper {
            width: 100%;
            position: relative;
            overflow: hidden;
            z-index: 1;
        }

        .cs-gallery {
            width: 100%;
            padding: 0;
            margin: 0;
            /* 48px - 64px */
            margin-bottom: clamp(3rem, 3vw, 4rem);
            opacity: 1;
            visibility: visible;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            left: 0;
            /* 16px - 20px */
            gap: clamp(1rem, 1vw, 1.25rem);
            transition:
                transform 0.7s,
                opacity 0.3s,
                visibility 0.5s,
                top 0.3s,
                left 0.3s;
            /* makes the transform scaling origin the top left corner, dictates the direction by which the scale transforms animate towards */
            transform-origin: left top;

            &.cs-hidden {
                position: absolute;
                /* by using visibility:hidden instead of display:none, we can see the animations from the opacity and transforms, display:none won't render animations. */
                visibility: hidden;
                /* prevents the mouse from interacting with it */
                pointer-events: none;
                /* hidden galleries have a 0 opacity, and we animate the opacity to 1 when they become active */
                opacity: 0;
                /* this top and left value help control the animation, by setting it to position absolute and left 0, the gallery won't fly off screen to the left, it will stop its position to be at the left edge of the .cs-container (left: 0). Same for the bottom:0 value, the gallery won't go past that position when it animates */
                bottom: 0;
                left: 0;
                position: absolute;
                /* prevents the hidden galleries from overflowing the section, and makes a nice animations to transition to and from */
                transform: scaleY(0) scaleX(0);

                .cs-image {
                    /* when gallery is hidden, add these styles to the cs-image to animate from when cs-hidden is removed from the .cs-gallery */
                    transform: translateY(calc(35 / 16 * 1rem));
                    opacity: 0;
                }
            }
        }

        .cs-image {
            width: clamp(47%, 42.5vw, 48.5%);
            /* changes at tablet */
            aspect-ratio: 154/211;
            /* clips the image corners */
            overflow: hidden;
            display: block;
            position: relative;
            /* when .cs-hidden is removed from the .cs-gallery, reset these values and animate from their hidden styles */
            transform: translateY(calc(0 / 16 * 1rem));
            opacity: 1;
            transition:
                opacity 0.6s,
                transform 0.6s;

            &:nth-of-type(1) {
                /* these delays stagger the reveal of each image so they all go one after the other and not all at once */
                transition-delay: 0.15s;
            }
            &:nth-of-type(2) {
                transition-delay: 0.3s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.45s;
            }
            &:nth-of-type(4) {
                transition-delay: 0.6s;
            }
            &:nth-of-type(5) {
                transition-delay: 0.75s;
            }
            &:nth-of-type(6) {
                transition-delay: 0.9s;
            }
            &:nth-of-type(7) {
                transition-delay: 1.05s;
            }
            &:nth-of-type(8) {
                transition-delay: 1.2s;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes it act like a background image */
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 600px */
@media only screen and (min-width: 48rem) {
    #gallery-453 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-content {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
        }

        .cs-flex {
            width: 50%;
        }

        .cs-title {
            margin: 0;
        }

        .cs-button-group {
            width: auto;
        }

        .cs-gallery {
            justify-content: space-between;
        }

        .cs-image {
            /* 171px - 305px */
            width: clamp(10.6875rem, 23.3%, 19.0625rem);
            aspect-ratio: 304/425;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #gallery-453 {
            .cs-topper {
                color: var(--primaryLight);
            }
            .cs-title,
            .cs-text,
            .cs-button {
                color: var(--bodyTextColorWhite);

                &.cs-active {
                    color: var(--primaryLight);
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-1334 {
        background-color: #1a1a1a;
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        padding: var(--sectionPadding);
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(542 / 16 * 1rem);
            display: flex;
            padding: var(--sectionPadding);
            padding-top: 0;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            position: relative;
            z-index: 1;
        }

        .cs-icon {
            /* 60px - 96px */
            width: clamp(3.75rem, 7vw, 5rem);
            height: auto;
            /* 28px - 48px */
            margin: 0 0 clamp(1.75rem, 4vw, 2.5rem);
        }

        .cs-review {
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.5em;
            margin: 0 0 calc(28 / 16 * 1rem) 0;
            color: var(--bodyTextColorWhite);
            opacity: 0.8;
        }

        .cs-name {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2vw, 1.5625rem);
            line-height: 1.2em;
            text-align: inherit;
            font-weight: 700;
            margin: 0 0 calc(8 / 16 * 1rem);
            color: var(--bodyTextColorWhite);
            display: block;
        }

        .cs-desc {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0;
            color: var(--bodyTextColorWhite);
            opacity: 0.8;
            display: block;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            max-height: calc(300 / 16 * 1rem);
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }

        .cs-floater {
            width: 100vw;
            max-width: calc(1110 / 16 * 1rem);
            height: auto;
            opacity: 0.04;
            /* prevents the mouse from interacting with it */
            pointer-events: none;
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-1334 {
        /* moved section padding back to the section */
        padding: var(--sectionPadding);

        .cs-container {
            flex-direction: row;
            justify-content: flex-start;
        }

        .cs-content {
            text-align: left;
            width: 45%;
            padding: 0;
            align-items: flex-start;
            position: relative;
        }

        .cs-floater {
            bottom: calc(-160 / 16 * 1rem);
        }

        .cs-background {
            height: auto;
            max-height: 100%;
            width: 50vw;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            margin: 0 0 0 calc(10 / 16 * 1rem);
        }
    }
}

/* Desktop - 1200px */
@media only screen and (min-width: 75rem) {
    #reviews-1334 {
        min-height: calc(720 / 16 * 1rem);
        display: flex;
        align-items: center;
        justify-content: center;
        .cs-background {
            width: 60vw;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews-1334 {
            background-color: rgba(0, 0, 0, 0.6);

            .cs-review {
                color: var(--bodyTextColorWhite);
            }

            .cs-desc {
                color: var(--bodyTextColorWhite);
                opacity: 0.8;
            }
        }
    }
}

/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #contact-401 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;
        background-color: #1a1a1a;

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: calc(52 / 16 * 1rem);
        }

        .cs-content {
            text-align: left;
        }

        .cs-form {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            gap: calc(12 / 16 * 1rem);
        }

        .cs-label {
            font-size: calc(14 / 16 * 1rem);
            width: 100%;
            color: var(--bodyTextColorWhite);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: calc(4 / 16 * 1rem);
        }

        .cs-input {
            font-size: calc(16 / 16 * 1rem);
            width: 100%;
            height: calc(56 / 16 * 1rem);
            padding: 0;
            padding-left: calc(24 / 16 * 1rem);
            color: var(--headerColor);
            background-color: rgba(255, 255, 255, 0.12);
            -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
            border: none;
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            &::placeholder {
                color: var(--bodyTextColorWhite);
                opacity: 0.6;
            }
        }

        .cs-textarea {
            min-height: calc(120 / 16 * 1rem);
            padding-top: calc(24 / 16 * 1rem);
            margin-bottom: calc(12 / 16 * 1rem);
            font-family: inherit;
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-submit {
            text-transform: uppercase;
            width: calc(283 / 16 * 1rem);
            background-color: var(--primary);
            color: var(--headerColor);
            border: none;
            transition: color 0.3s;

            &:hover {
                color: #fff;
            }
        }

        .cs-right {
            max-width: calc(630 / 16 * 1rem);
            width: 100%;
            /* 16px - 24px */
            padding: clamp(1rem, 2.3vw, 1.5rem);
            background-color: #484848;
            display: flex;
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: calc(24 / 16 * 1rem);
        }

        .cs-map {
            width: 100%;
            /* 300px - 425px */
            height: clamp(18.75rem, 63.4vw, 26.5625rem);
            /* clips the corners of the img tag */
            overflow: hidden;
            position: relative;
            display: block;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-contact-group {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: calc(8 / 16 * 1rem);
        }

        .cs-item {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: calc(12 / 16 * 1rem);
        }

        .cs-header {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 3vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            margin-right: auto;
            margin-bottom: calc(16 / 16 * 1rem);
            color: #fff;
        }

        .cs-icon {
            width: calc(24 / 16 * 1rem);
            height: auto;
        }

        .cs-link,
        .cs-hours {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-decoration: none;
            color: var(--bodyTextColorWhite);
            transition: color 0.3s;
        }

        .cs-link {
            &:hover {
                color: var(--secondaryLight);
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #contact-401 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            justify-content: space-between;
            /* 44px - 80px */
            gap: clamp(2.75rem, 7vw, 5rem);
        }

        .cs-content {
            max-width: calc(522 / 16 * 1rem);
        }

        .cs-topper,
        .cs-title {
            text-align: left;
            margin-left: 0;
        }

        .cs-right {
            min-width: calc(360 / 16 * 1rem);
            width: 100%;
        }

        .cs-map {
            /* 250px - 400px */
            height: clamp(15.625rem, 30vw, 25rem);
        }

        .cs-submit {
            margin-left: 0;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #contact-401 {
        .cs-email,
        .cs-phone {
            width: 48%;
        }

        .cs-right {
            width: 51.6%;
            /* prevent flexbox from squishing it */
            flex: none;
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 64rem) {
    #contact-401 {
        .cs-contact-group {
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            column-gap: calc(0 / 16 * 1rem);
            row-gap: calc(8 / 16 * 1rem);
        }

        .cs-item {
            width: calc(260 / 16 * 1rem);
            justify-content: flex-start;
            &:nth-of-type(1) {
                width: 100%;
                text-align: left;
            }

            &:nth-of-type(3) {
                /* changing the order of our list so they are arranged like in the design */
                order: 4;
            }

            &:nth-of-type(4) {
                order: 2;
            }

            &:nth-of-type(5) {
                order: 5;
            }

            &:nth-of-type(4),
            &:nth-of-type(5) {
                width: calc(306 / 16 * 1rem);
            }
        }
    }
}